<a href="https://colab.research.google.com/github/ciccmeek/Michael-Ciccarelli-FNCE-Python/blob/main/Michael_Ciccarelli__HW2_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [ ]:
import pandas as pd
import numpy as np

### Step 3. Read the following URL and assign it to a variable called chipo.    
NOTE: It is a TSV file, not CSV. Find out how to read TSV using read_csv in Pandas.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Show/print the first **20** entries

In [ ]:
print(chipo.head(20))

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos
12         6         1                     Chicken Soft Tacos
13         7         1                           Chicken Bowl
14         7         1                    Chips and Guacamole
15         8         1  Chips and Tomatillo-Green Chili Salsa
16         8         1                        Chicken Burrito
17         9         1                        Chicken Burrito
18         9         2                            Canned Soda
19        10         1                           Chicken Bowl

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                NaN     $4.45
15                                                NaN     $2.39
16  [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                           [Sprite]     $2.18
19  [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75

### What is the number of observations in the dataset?

In [ ]:
# Solution
chipo.shape[0]

4622

### What is the number of columns in the dataset? Names of the columns in the dataset?

In [ ]:
print("Number of Columns in the Dataset")
print(chipo.shape[1])

#names of columns
print("Names of Columns")
chipo.columns

Number of Columns in the Dataset
5
Names of Columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### What was the most-ordered item? In how much quantity in total was it ordered?

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
print(c.head(1))

              order_id  quantity  \
item_name
Chicken Bowl    713926       761

                                             choice_description  \
item_name
Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...

                                                     item_price
item_name
Chicken Bowl  $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...


### What was the most ordered item in the choice_description column? How many were ordered?

In [ ]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
print(c.head(1))

                    order_id  quantity  \
choice_description
[Diet Coke]           123455       159

                                                            item_name  \
choice_description
[Diet Coke]         Canned SodaCanned SodaCanned Soda6 Pack Soft D...

                                                           item_price
choice_description
[Diet Coke]         $2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### How many items were orderd in total?

In [ ]:
total_items_ordered = chipo['quantity'].sum()
total_items_ordered

4972

### Provide a list of unique items offered for sale to eat at Chipotle.

In [ ]:
unique_items = chipo['item_name'].unique()
unique_items

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

### How many different items are sold?

In [ ]:
chipo['item_name'].nunique()

50

### How much revenue was generated for the period in the dataset?

In [ ]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '', regex=False).astype(float)

revenue = (chipo['quantity'] * chipo['item_price']).sum()

revenue

39237.02

### What is the average revenue amount per order?

In [ ]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '', regex=False).astype(float)

chipo['revenue'] = chipo['quantity'] * chipo['item_price']

order_grouped = chipo.groupby(by=['order_id'])[['quantity', 'revenue']].sum()

avg_revenue_per_order = order_grouped['revenue'].mean()

avg_revenue_per_order

21.39423118865867

### How many orders were made in the period?

In [ ]:
order_count = chipo['order_id'].nunique()
order_count

1834

### How much revenue was generated selling the second most popular item in the menu?

In [ ]:
c = chipo.groupby('item_name')['quantity'].sum()
c = c.sort_values(ascending=False)
second_most_popular_item = c.index[1]
revenue_second_most_popular = chipo[chipo['item_name'] == second_most_popular_item]['revenue'].sum()
revenue_second_most_popular

6387.0599999999995